# {{ ansible_managed }}

{% if item.configure %}
{%   if item.method == "static" %}
auto {{ item.name }}
iface {{ item.name }} inet {{ item.method }}
{%     if item.address is defined %}
address {{ item.address }}
{%     endif %}
{%     if item.netmask is defined %}
netmask {{ item.netmask }}
{%     endif %}
{%     if item.gateway is defined %}
gateway {{ item.gateway }}
{%     endif %}
{%   endif %}
{%   if item.method == "dhcp" %}
auto {{ item.name }}
iface {{ item.name }} inet {{ item.method }}
{%   endif %}
{% endif %}
